---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to Astro.">

	<main class="block  bg-white">
		<header class="flex justify-between max-w-120 bg-white">
			<div class="mx-10 font-bold text-gray-600 inline">
				Sandb <span class="mx-0">o</span> x
			</div>
			<div class="text-gray-600 text-sm">
				<menu class="flex mx-10">
					<a href="#">
						<div class="mx-3">
							Demos
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>

					<a href="#">
						<div class="mx-3">
							Pages
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div class="mx-3">
							Projects
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div class="mx-3">
							Blog
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div>
							Blocks
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div class="mx-3">
							Documentation
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="1em"
								height="1em"
								viewBox="0 0 24 24"
								><path
									fill="none"
									stroke="currentColor"
									d="m18 9l-6 6l-6-6"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div class="mx-1">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15px"
								height="15px"
								viewBox="0 0 48 48"
								><path
									fill="none"
									stroke="black"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M24 2.5A21.5 21.5 0 1 0 45.5 24A21.51 21.51 0 0 0 24 2.5"
								></path><circle
									cx="24"
									cy="15.21"
									r="2.5"
									fill="none"
									stroke="black"
									stroke-linecap="round"
									stroke-linejoin="round"></circle><path
									fill="none"
									stroke="black"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M23.99 21.34v13.95"></path></svg
							>
						</div>
					</a>
					<a href="#">
						<div class="mx-1">
							<svg
								xmlns="http://www.w3.org/2000/svg"
								width="15px"
								height="15px"
								viewBox="0 0 48 48"
								><path
									fill="none"
									stroke="black"
									stroke-linecap="round"
									stroke-linejoin="round"
									d="M19.607 5.5c7.772 0 14.045 6.304 14.045 14.107a14.026 14.026 0 0 1-14.045 14.045C11.804 33.652 5.5 27.38 5.5 19.607A14.09 14.09 0 0 1 19.607 5.5m9.923 24.03L42.5 42.5"
								></path></svg
							>
						</div>
					</a>
				</menu>
			</div>
		</header>
		<div class="flex justify-center items-center bg-white mt-7">
			<div class="justify-center items-center">
				<h1 class="text-black font-bold">Lorem ipsum dolor sit.</h1>
				<p class="text-black font-semibold text-sm mt-2 mb-8 max-w-96">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
					Dicta voluptas natus dolore expedita.
				</p>
				<span
					class="p-2 rounded-xl text-white font-bold text-sm bg-black mx-3"
					>Read more</span
				>
			</div>
			<div>
				<img
					class="object-cover"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwOvt9KF_7CZFm1kQA9_Ms3cN3SaXWMSOlH58dMeW-uw&s"
					alt="personas"
				/>
			</div>
		</div>
		<div class="w-8/8 bg-white mt-7 m-auto">
			<div>
				<h2 class="uppercase text-gray-500 text-sm">What we do?</h2>
				<h1 class="text-black font-bold">
					Lorem ipsum dolor sit amet consectetur adipisicing elit.
				</h1>
			</div>
			<div class="flex justify-between bg-white mt-7">
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="p-1 text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
			</div>
			<div class="flex justify-between w-8/8 bg-white mt-7">
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="p-1 text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
				<div class="justify-center items-center">
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
					<p class="text-gray-600 font-semibold text-sm mt-2">
						Lorem ipsum dolor sit amet consectetur adipisicing elit.
						Molestias quasi optio blanditiis nisi unde. Odit.
					</p>
				</div>
			</div>
		</div>
		<div class="w-8/8 bg-white mt-40 m-auto">
			<div>
				<h2 class="uppercase text-gray-500 text-sm">case studies</h2>
				<h1 class="text-black font-bold">
					Lorem ipsum dolor sit, amet consectetur adipisicing elit. Fugit, aliquid?</h1>
			</div>
		</div>
		<div class="w-8/8 bg-white mt-7 m-auto">
			<div class="flex justify-between w-8/8 bg-white mt-7 mx-3">
				<div class="justify-center items-center">
					<img
					class="object-cover rounded"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwOvt9KF_7CZFm1kQA9_Ms3cN3SaXWMSOlH58dMeW-uw&s"
					alt="personas"
				/>
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
				</div>
				<div class="justify-center items-center">
					<img
					class="object-cover rounded"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwOvt9KF_7CZFm1kQA9_Ms3cN3SaXWMSOlH58dMeW-uw&s"
					alt="personas"
				/>
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>	
				</div>
				<div class="justify-center items-center">
					<img
					class="object-cover rounded"
					src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTwOvt9KF_7CZFm1kQA9_Ms3cN3SaXWMSOlH58dMeW-uw&s"
					alt="personas"
				/>
					<h2 class="text-black font-semibold text-sm">
						Lorem ipsum dolor sit.
					</h2>
				</div>
			</div>	
		</div>
	</main>	

</Layout>	